.heading {
    margin: 0%;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    height:100%;
    width:100%;

}

.heading > img {
    object-fit:fill;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 10px;

}
.heading > p{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 60px;
}

.heading > button{

    margin-top: 80;
    margin-bottom: 10px;
    width: 365px;
    height: 50px;
    font-size: large;
    color: #ffffff;
    background-color: #1a73e8;
    border-radius: 5px;
}

.portfolio{
    margin-top: 80px;
    font-size: 20px;

    margin-bottom: 60px;
}