.signup {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    height:100%;
    width:100%;
}

.signup > img {
    object-fit:fill;
    height: 150px;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.signup > form {
    display: flex;
    flex-direction: column;
}

.signup > form > input {
    width : 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.signup > form > button {
    width: 365px;
    height: 50px;
    font-size: large;
    color: #ffffff;
    background-color: #1a73e8;
    border-radius: 5px;
}


